<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-icon class="ion-margin-start" button [routerLink]="['/songs']" name="arrow-back-outline">
        </ion-icon>
        <ion-label class="ion-margin-start">{{song.title}}</ion-label>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-accordion-group class="ion-margin" expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="dark">
        <ion-label>Song Details</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Artist - {{song.artist}}</div>
      <div class="ion-padding" slot="content">Album - {{song.album}}</div>
      <div class="ion-padding" slot="content">Duration - {{song.duration}}</div>
      <div class="ion-padding" slot="content">Genre - {{song.genre}}</div>
      <div class="ion-padding" slot="content">Year - {{song.year}}</div>
    </ion-accordion>
  </ion-accordion-group>

  </ion-content>
